/* .main {
    height: 100vh;
    
} */

.modal {
    /* position: relative; */
    width: 400px;
    height: 450px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 0 10px #e0dfdf;
    position: absolute;
    left: -1%;
    top: 100%;
   
   
}


.modalContent h3 {
    color: #980f1b;
    font-family: Arial, Helvetica, sans-serif;
}

.Label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: small;
}



.inputcontent{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
}

.inputcontent:focus,
.inputcontent:active{
    border-bottom: 1px solid black;
    box-shadow: none;
}

