.main {
  height: 100vh;
  background-color: #f8f7f7
}

.content {
  height: auto;
  background-color: #f8f7f7;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  position: relative;
}

/* Media Queries */
@media (min-width: 480px) {
  .header {
    width: 100%;
    height: auto;
  }
}

.header a {
  font-size: 10px;
}

.header a:hover {
  color: #000;
}

.btn-img {
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 5px;
  letter-spacing: 3px;
  position: absolute;
  right: 50px;
  top: 100px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.btn-img:hover {
  background-color: #eee;
}

.box {
  margin: 20px 10px;
}

.input-group {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #c0bfbf;
  background-color: #f8f7f7;
}

.input-group:focus {
  box-shadow: none;
  border-bottom: 2px solid #c0bfbf;
  background-color: #f8f7f7;
}

.input-group option {
  height: 10px;
  overflow-y: scroll;
}

.btn-box {
  font-size: 10px;
  padding: 10px;
  letter-spacing: 3px;
  border-radius: 7px;
  margin: 10px 10px 0 0;
  font-weight: bold;
}

.icon-sorting {
  font-size: 13px;
  margin-top: 2px;
  color: #e3e3e3;
}

.table-head {
  background-color: #eee;
  color: #a21517;
}

.table-body {
  background-color: #fff;
}

.modal-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.modal-list li {
  display: inline-block;
}
