.modal {
  width: 800px;
  height: 400px;
  box-shadow: 0 0 0 10px #dee3e1;
  margin-left: -8rem;
}

.btn-add,
.btn-add:hover {
  border: 2px dotted #000;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  font-size: 15px;
}

.btn-box {
  font-size: 10px;
  padding: 10px;
  letter-spacing: 3px;
  border-radius: 7px;
  margin: 10px 10px 0 0;
  font-weight: bold;
}
