.main{
  background-color: #D1E0EE;
  min-height: 100vh;
  margin: 0;
  font-family: 'Gurajada', serif;
  height: 100%;
  }

.header{
  background-color:#112B3C ;
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  /* flex-direction: row; */
}

.logo{
margin-top: 5px;
}

.headerRight{
float: right;
line-height: 26px;
position: absolute;
top: 2.7%;
right: 10px;
}

.icon {
margin: 0px 20px 0px 20px ;
}

.icon2{
margin : 0px 20px 0px 10px
}

.footer{
background-color: #112B3C;
height: 40px;
position:fixed;
bottom:0;
left:0;
width:100%;
}

.content {
  background-color: white;
  width: 100%;
  position: fixed;
  height: 640px;
  top: 70px;
  display: flex;
  margin: 0px 15px 0px 7px; 
  padding-left: 40px;
  padding-top: 20px;
}


.left .formLogin{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 150px;
  align-items:  center;
  justify-items: center;
}
.left .formLogin label{
  justify-content: left;
  text-align: left;
  display: inline-block;
  width: 280px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
}
.left h6{
  width: 7.2cm;
  height: 30px;
  border: none;
  border-bottom: 2px solid darkgrey;
}

.right .formLogin{
  float: right;
  margin-top: 40px;
  margin-left: 200px;
  align-items:  center;
  justify-items: center;
}

.right .formLogin label{
  justify-content: right;
  text-align: left;
  display: block;
  width: 580px;
  margin: 10px 0px 10px 0px;
  font-size: 18px;
}

.right h6{
  width: 7.5cm;
  height: 30px;
  border: none;
  border-bottom: 2px solid darkgrey;
  
}

.formLogin label{
  font-weight: bold;
}

.editBut{
  display: flex;
  position: fixed;
  top: 12%;
  left: 90%;
  /* margin: 20px; */
  right: 200px;
  border: 2px solid #d9d9d9;
  background-color: #d9d9d9;
  color: black;
  justify-content: center;
  width: 80px;
  border-radius: 9px;
  font-weight:  bold;
  text-decoration: none;
  padding: 2px;
  font-size: 18px;
  box-shadow: 0 1px white;
  height: 35px;
}

.editBut:hover{
  color: white;
}

.addBut{
  display: flex;
  position: fixed;
  top: 87%;
  left: 82%;
  right: 200px;
  border: 2px solid #d9d9d9;
  color: white;
  background-color: #112B3C;
  justify-content: center;
  width: 200px;
  text-decoration: none;
  border-radius: 9px;
  font-weight:  bold;
  padding: 2px;
  font-size: 18px;
  box-shadow: 0 1px white;
  height: 35px;
}

.addBut:hover{
  color: black;
}

.mInput {
  width: 10.5cm;
  margin-left: 30px;
  margin-bottom: 30px;
}

.mHeader{
  margin-left: 26px;
}

.arrow {
  margin-left: 20px;
}

.mLabel{
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.mTitle{
  margin-left: 30px;
}
