.main{
  background-color: #D1E0EE;
  min-height: 215vh;
  margin: 0;
  font-family: 'Gurajada', serif;
  height: 120vh;
  }

.header{
  background-color:#112B3C ;
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  /* flex-direction: row; */
}

.logo{
margin-top: 5px;
}

.headerRight{
float: right;
line-height: 26px;
position: absolute;
top: 2.7%;
right: 10px;
}

.icon {
margin: 0px 20px 0px 20px ;
}
.icon:hover{
  cursor: pointer;
}

.icon2{
margin : 0px 20px 0px 10px
}

.icon3{
  margin: 0px 3px 3px 0px ;
}
.icon3:hover{
  cursor: pointer;
  position: absolute;
}

.sidebar{
  position: absolute;
  background-color: #fff;
  color: #112B3C;
  top: 1;
  left: 0;
  height: 82vh;
  width: 200px;
  /* transform: translateX(-100%);  */
  transition: all 0.4s; 
  z-index: 1;
}

.sidebar li{
  list-style: none;
  padding: 8px 1rem 8px;
  border-bottom: solid #fff 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: small;
  font-family: sans-serif;
  cursor: pointer;
}

.sidebar li:hover{
  background-color: #112B3C;
  color:#fff;
}

.dropdown1 li a{
  padding: 0px 34px 0px;
  display: flex;
  align-items: center;
}

.dropdown2 li a{
  padding: 0px 31px 0px;
  display: flex;
  align-items: center;
}

.dropdown3 li a{
  padding: 0px 31px 0px;
  display: flex;
  align-items: center;
}

.backdrop{
  position: absolute;
  /* margin: 1px; */
  top: 65px;
  left: 0;
  width: 100%;
  min-height: 200vh; 
  background-color: rgba(0, 0, 0, 0.3);
  /* display: none;  */
  z-index: 1;
}

.footer{
background-color: #112B3C;
height: 40px;
position:fixed;
bottom:0;
left:0;
width:100%;
z-index: 1;
}