.main{
  background-color: #D1E0EE;
  min-height: 100vh;
  margin: 0;
  font-family: 'Gurajada', serif;
  height: 100%;
  }
  
.footer{
background-color: #112B3C;
height: 40px;
position:fixed;
bottom:0;
left:0;
width:100%;
}

.content{
background-color: white;
/* margin: 6px; */
/* padding: 5px; */
/* overflow: scroll; */


} 

.content h2 {
padding-left: 20px;
padding-top: 20px;
/* position: sticky; */
}

.transfer{
background-color: #D1E0EE;
border: 2px solid white;
border-radius: 9px;
color: grey;
position: absolute;
left: 77.6%;
bottom: 83%;
/* margin-bottom: 5px; */
}

.butOption{
/* background-color: #D1E0EE; */
border: 2px solid white;
border-radius: 9px;
color: grey;
position: absolute;
bottom: 83%;
left: 96%;
height: 30px;
line-height: 15px;
/* padding-bottom: 20px; */
/* margin-bottom: 5px; */
}

.butExport{
background-color: #D1E0EE;
border: 2px solid white;
border-radius: 9px;
color: grey;
position: absolute;
bottom: 78%;
left: 76%;
/* margin-top: 5px; */
/* margin-bottom: 8px; */
}

.butAdd{
background-color: #112B3C;
border: 2px solid white;
border-radius: 9px;
color: white;
position: absolute;
left: 87.6%;
bottom: 83%;
/* margin-bottom: 5px; */
}

.bulk{
background-color: #D1E0EE;
border: 2px solid white;
border-radius: 9px;
color: grey;
position: absolute;
left: 81%;
/* margin-top:px; */
bottom: 78%;
}

.sBox{
width: 150px;
display: flex;
height: 30px;
position: absolute;
bottom: 78%;
left: 88%;
}

.tableEdit{
display: block;
max-width: 100%;
overflow-x: scroll;
overflow-y: scroll;
background-color: white;
border-bottom: #D1E0EE solid 1px;
height: 545px;
}

.tableEdit thead{
background-color: #D1E0EE;
/* position: absolute; */
margin: 20%;
}

.tableEdit th {
background-color: #D1E0EE;
color: black;
font-weight: bold;
text-align: center;
font-size: 21px;
overflow-wrap: break-word;
}

.tableEdit table {
text-align: center;
margin-top: 20px;
border-collapse: separate;
border-spacing: 0;
position: relative;
}

.tableEdit td {
padding: 10px;
font-size: 14px;
/* text-align: center; */
border-bottom: #D1E0EE solid 1px;
}

.tableEdit th td {
padding: 0.25rem;
}

.pagination{
display: flex;
background-color: white;
padding: 0.5rem;
}

.pagination h2{
font-size: 14px;
/* line-height: 7px; */
}

.pagination select{
height: 25px;
width: 60px;
margin-left: 12px;
/* margin-top: 10px; */
border-radius: 6px;
}

.opt {
display: flex;
margin-right: 11px;
}

.opt h2 {
line-height: 7px;
}

.opt span{
margin-left: 7px;
/* margin-top: 10px; */
}

.pagination button{
border: 0cm;
background: none;
}

.pagination input{
width: 100px;
height: 25px;
border-radius: 6px;
/* margin-top: 10px; */
margin-left: 7px;
}

.opt1 {
display: flex;
position: relative;
left: 63%;
/* margin-right: px; */
}



.opt1 span{
margin-left: 7px;
/* margin-top: 10px; */
}

.butLeft , .butLeft1{
position: relative;
left: 62%;
padding-top: 6px;
}

.butRight , .butRight1{
position: relative;
left: 64%;
/* padding-top: 6px; */
}

.cb{
display: flex;
position: absolute;
top: 1.2%;
left: 55%;
margin: 4px;
overflow: hidden;
float: left;
margin-bottom: 20px;
}

.cb label {
float: left; 
cursor: pointer;
text-transform: capitalize;
}

.cb label span {
text-align: center;
/* background-color: #a2a3a5; */
display: flex;
color: #1262E4;
padding: 5px 15px;
font-size: 14px;
}

.cb label input {
position: absolute;
display: none;
color: #fff
}
