.modal {
    /* position: relative; */
    width: 350px;
    height: 250px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 0 10px #e0dfdf;
    position: absolute;
    left: 15%;
    /* top: -40%; */
}

.btnModal{
    border-radius: 5px;
}

.text{
    margin: 30px 5px;
}