.main {
    height: auto;
  }

.mainContent{
    height: auto;
    background: #f8f7f7;
}
  
.content{
    background: #f8f7f7;
    height: 100vh;
}

.btn{
    border: 1px solid #7D7D7D;
    background: #F8F7F7;
    color: #7D7D7D;
    border-radius: 10px;
    margin-top: 30px;
    /* overflow: hidden; */
}

.btnimport {
  border: 1px solid #7D7D7D;
  background: #F8F7F7;
  color: #7D7D7D;
  border-radius: 10px;
  position: relative;
  line-height: 1.5;
  overflow: hidden;
}

.btnimport input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.formLabel {
    font-size: 14px;
    margin-bottom: -5px !important;
  }
  
  .formSelect {
    border: none;
    background-color: #F8F7F7;
    border-radius: 0;
    border-bottom: 2px solid #b6b6b6;
    color: #7f7f7d;
  }

  .formSelect:focus,
  .formSelect:active {
    border-bottom: 2px solid #b6b6b6;
    /* border: none !important; */
    box-shadow: none;
  }
  
  .spanIcon {
    background-color: #F8F7F7;
    border: none;
    border-bottom: 2px solid #b6b6b6;
    border-radius: 0;
  }
  
  .searchIcon {
    color: #b9b9bc;
  }
  
  .searchInput {
    font-size: 15px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #b6b6b6;
    background-color: #F8F7F7;
  }
  
  .searchInput:focus,
  .searchInput:active {
    /* border-bottom: 2px solid #b6b6b6; */
    background-color: #F8F7F7;
    /* border: none !important; */
    border-bottom: 2px solid #b6b6b6;
    box-shadow: none;
  }

  .contentTable thead{
    background: #EEEEEE;
    color: #A10101;
  }

  .InfoIcon{
    color: #039BE5;
  }

  .InfoIcon:hover{
    color: #980f1b;
  }

  .EditIcon {
    color: #980f1b;
    margin-right: 7px;
  }

  .DeleteIcon {
    color: #980f1b;
    margin-bottom: -2px;
    margin-left: 2px;
    padding-right: 50px;
  }

  .delete{
    border: none;
    background-color: #fff;
  }



  
  