.main {
  height: auto;
}

.mainContent {
  height: 100vh;
}

.content {
  margin: 20px 10px 0 10px;
  background: #f8f7f7;
  height: 98vh;
}

.Label {
  font-size: small;
}

.input-date {
  /* margin: 0 0 0 20px; */
  border-radius: 0;
  border: none;
  background: #f8f7f7;
  border-bottom: 1px solid black;
}

.input-date:focus,
.input-date:active {
  background: #f8f7f7;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.inputcontent {
  margin-top: 15px;
  background: #f8f7f7;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
}

.inputcontent:focus,
.inputcontent:active {
  background: #f8f7f7;
  border-bottom: 1px solid black;
  box-shadow: none;
}

.inputselect {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: #f8f7f7;
}

.inputselect:focus {
  box-shadow: none;
}

.icon {
  color: #9a0101;
  margin: 11px 25px;
}

.newloan {
  color: #9a0101;
  margin-left: -18px;
  border: none;
  background-color: #f8f7f7;
}

.newloan:hover {
  border: none;
  color: #9a0101;
}

.inputdeskripsi {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f8f7f7;
}

.inputdeskripsi:focus,
.inputdeskripsi:active {
  border-bottom: 1px solid black;
  box-shadow: none;
  background-color: #f8f7f7;
}

.inputamount {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f8f7f7;
}

.inputamount:focus,
.inputamount:active {
  border-bottom: 1px solid black;
  box-shadow: none;
  background-color: #f8f7f7;
}

.btnimport {
  border: none;
  position: relative;
  padding: 11px 16px;
  /* background: #EEEEEE;
  width: 20vh; */
  font-size: 15px;
  line-height: 1.5;
  color: #424242;
  font-weight: bold;
  /* background-color: #EEEEEE; */
  overflow: hidden;
}

.btnimport input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btnexport{
  border: none;
  position: relative;
  padding: 11px 16px;
  /* background: #EEEEEE;
  width: 20vh; */
  font-size: 15px;
  line-height: 1.5;
  color: #424242;
  font-weight: bold;
  /* background-color: #EEEEEE; */
  overflow: hidden;
}

.iconarrow{
  margin: 0 15px 0 5px;
}

.formSelect {
  border: none;
  background-color: #f8f7f7;
  border-radius: 0;
  border-bottom: 2px solid #b6b6b6;
  color: #7f7f7d;
}

.formSelect option {
  background: #980f1b;
}

.formSelect option:hover {
  background: #ea454b;
}

.formSelect:focus,
.formSelect:active {
  border-bottom: 2px solid #b6b6b6;
  /* border: none !important; */
  box-shadow: none;
}

.spanIcon {
  background-color: #f8f7f7;
  border: none;
  border-bottom: 2px solid #b6b6b6;
  border-radius: 0;
}

.searchIcon {
  color: #b9b9bc;
}

.searchInput {
  font-size: 15px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #b6b6b6;
  background-color: #f8f7f7;
}

.searchInput:focus,
.searchInput:active {
  /* border-bottom: 2px solid #b6b6b6; */
  background-color: #f8f7f7;
  /* border: none !important; */
  border-bottom: 2px solid #b6b6b6;
  box-shadow: none;
}

.bodytable {
  background: #fff;
  /* width: 50vh; */
}



