
.modal {
    /* position: relative; */
    width: 700px;
    height: 500px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 0 10px #e0dfdf;
    position: absolute;
    left: -15%;
    top: 100%;
   
   
}


.modalnewloan h3 {
    color: #980f1b;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    font-size: small;
}



.inputnewloan{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
}

.inputnewloan:focus,
.inputnewloan:active{
    border-bottom: 1px solid black;
    box-shadow: none;
}

